<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <script src="js/jquery-1.7.1.min.js"></script>
    <script>
        $(function() {
            $("#sendPost").click(function() {

            })
            
            $("#sendPut").click(function () {

            })
            

            $("#sendDelete").click(function () {

            })
        })
    </script>

</head>
<body>
    <button id="sendPost"   type="button">POST请求</button><br/>
    <button id="sendPut"    type="button">PUT请求</button><br/>
    <button id="sendDelete" type="button">DELETE请求</button><br/>
</body>
</html>
